//div(ng-include='"components/navbar/navbar.html"')
div(ng-switch='optionMenu')
  ul.nav.nav-tabs.nav-justified(role='tablist')
    li(ng-repeat='menu in menubar', ng-class='{active: checkValue(menu)}')
      a(ng-click='changeMenuOption(menu)') {{menu}}

  .container(ng-switch-when='Users', ng-controller='AdminUserCtrl')
    p
      | The delete user and user index api routes are restricted to users with the 'admin' role.


    style
      .custom-label{ font-size: 14px; padding-left: 5px; }
    .tagui-card-w220-h80-layout.highlight-parent(ng-repeat='user in users')
      .tagui-highlight-mouse-over-animated
        .float-right.icon-delete-30px.animated-opacity.pointer.custom-margin-icon-close(ng-click='delete(user)')
      .highlighted-container
        .left-header
          .tagui-vertical-align-container
            .tagui-valign-middle
              .tagui-small-person-pic-container
                .tagui-small-person-pic.icon-person
        .right-body
          .tagui-vertical-align-container
            .tagui-valign-middle.custom-label.tagui-font-semibold
              strong {{user.name}}
                br
                | {{user.email}}

  .container(ng-switch-when='Categories', ng-controller='CategoriesCtrl')
    style
      .custom-label{ font-size: 14px; text-align: left; padding-left: 5px; }
      .custom-add-container{ text-align: center; }
    .tagui-card-w220-h80-layout(ng-if='!isOpen', ng-click='createCategory()')
      .highligh-font-container-animated.pointer
        .left-header
          .tagui-vertical-align-container
            .tagui-valign-middle.tagui-font-ligth.custom-add-container(style='text-align: center')
              .icon-add-40px
        .right-body
          .tagui-vertical-align-container
            .tagui-valign-middle.custom-label.tagui-font-semibold
              | Agregar Categoria

    .tagui-card-w220-layout(ng-model='newCategory', ng-if='isOpen')
      .header
        | Formulario de creacion
        .float-right.icon-close-25px.header-icon-margin.animated-opacity.pointer(ng-click='cancel()')
      .body
        input.form-control(type='text', placeholder='Ingresa el nombre', ng-model='newCategory.name')
        .tagui-form-spacer
        textarea.form-control(type='text', placeholder='Ingresa una descripcion', ng-model='newCategory.description', style='max-width: 180px')
        .tagui-form-spacer
        .tagui-form-spacer
        input.tagui-btn.btn(type='button', value='Guardar', ng-click='saveCategory(newCategory)')
        .tagui-form-spacer
        .tagui-form-spacer
        input.tagui-btn.btn(type='button', value='Cancelar', ng-click='cancel()')



    .tagui-card-w220-layout(style='width: 400px; height: auto;')
      .header
        | Categorias
      .body
        ul.list-group
          li.list-group-item(ng-repeat='category in categories', style='max-width: 300px')
            strong {{category.name}}
            br
            span.text-muted {{category.description}}
            br
            span {{registerDate(category.registerDate)}}
            a.trash(ng-click='delete(category)')
              span.glyphicon.glyphicon-trash.pull-right


  .container(ng-switch-when='Arrangements', ng-controller='ArrangementsCtrl')
    .tagui-card-w220-h80-layout(ng-if='!isOpen', ng-click='createArrangement()')
      .highligh-font-container-animated.pointer
        .left-header
          .tagui-vertical-align-container
            .tagui-valign-middle.tagui-font-ligth.custom-add-container(style='text-align: center')
              .icon-add-40px
        .right-body
          .tagui-vertical-align-container
            .tagui-valign-middle.custom-label.tagui-font-semibold
              | Agregar Plan

    .tagui-card-w220-layout(ng-model='newArrangement', style='width: 400px', ng-if='isOpen')
      .header
        | Formulario creacion de Plan {{newArrangement.name}}
        .float-right.icon-close-25px.header-icon-margin.animated-opacity.pointer(ng-click='cancel()')
      .body
        //input.form-control(type='text', placeholder='Ingresa el nombre', ng-model='newArrangement.name')
        input.form-control(type='text', placeholder='Introduzca el nombre del plan (4 characters como minimo)', ng-model='newArrangement.name', required='true')
        .tagui-form-spacer
        label(style='float: left; width: 150px;')  * Tiempo de vigencia (dias):
        input.form-control(type='number',style='float: left; width: auto;padding: 0px;', popover='Introduzca el numero de dias de vigencia',popover-trigger="focus", ng-model='newArrangement.days', required='true', min='1')
        label(style='float: left; width: 150px;')   * Precio del plan:
        input.form-control(type='number',style='float: left; width: auto;padding: 0px;', popover="Introduzca el precio por dia del plan ejm: 1bs por dia" , popover-trigger="focus", ng-model='newArrangement.price', required='true', min='1')
        .tagui-form-spacer
        textarea.form-control(type='text', placeholder='Ingresa una descripcion', ng-model='newArrangement.info', style='max-width: 380px')
        .tagui-form-spacer
        .tagui-form-spacer
        input.tagui-btn.btn(type='button', value='Guardar', ng-click='saveArrangement(newArrangement)')
        .tagui-form-spacer
        .tagui-form-spacer
        input.tagui-btn.btn(type='button', value='Cancelar', ng-click='cancel()')

    .tagui-card-w220-layout(style='width: 400px; height: auto;')
      .header
        | Planes
      .body
        ul.list-group
          li.list-group-item(ng-repeat='arrangement in arrangements', style='max-width: 300px')
            strong {{arrangement.name}}
            br
            span.text-muted {{arrangement.info}}
            br
            span.text-muted Precio: {{arrangement.total_price}}
            br
            span.text-muted Dias: {{arrangement.days}}
            br
            span {{registerDate(arrangement.register_date)}}
            a.trash(ng-click='delete(arrangement)')
              span.glyphicon.glyphicon-trash.pull-right

      //#planModal.modal.fade(tabindex='-0', role='dialog', aria-labelledby='myModalLabel', aria-hidden='false', data-backdrop='static')
      //    .modal-dialog
      //        .modal-content
      //            .modal-header
      //                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
      //                div(ng-switch='ng-switch', on='createOrUpdate')
      //                    h4.modal-title(ng-switch-when='create') Agregar Nuevo Plan
      //                    h4.modal-title(ng-switch-when='update') Actualizar Plan
      //            .modal-body
      //                form#addPlanForm(role='form')
      //                    .modal-body
      //                        .form-group
      //                            label  * Nombre del Plan:
      //                            .controls
      //                                input.form-control(type='text', placeholder='Introduzca el nombre del plan (4 characters como minimo)', ng-model='plan.name', required='true')
      //                        .form-group
      //                            label  * Descripcion del Plan:
      //                            .controls
      //                                input.form-control(type='text', placeholder='Descripcion del plan', ng-model='plan.description', required='true')
      //                        .form-group
      //                            label  * Tiempo de vigencia (dias):
      //                            .controls
      //                                input.form-control(type='number', placeholder='Introduzca el numero de dias de vigencia', ng-model='plan.validateDays', required='true', min='1')
      //                        .form-group
      //                            label  * Precio del plan:
      //                            .controls
      //                                input.form-control(type='number', placeholder='Introduzca el precio del plan', ng-model='plan.price', required='true', min='0')
      //                        .form-group
      //                            .alert.alert-danger(ng-show='isAnyError') {{errorMessage}}
      //                    .modal-footer
      //                        div(ng-switch='ng-switch', on='createOrUpdate')
      //                            div(ng-switch-when='create')
      //                                button.btn.btn-primary(type='submit', ng-click='saveNewPlan()') Guardar
      //                                button.btn.btn-default(type='button', data-dismiss='modal', ng-click='cancelCreate()') Cancelar
      //                            div(ng-switch-when='update')
      //                                button.btn.btn-primary(type='submit', ng-click='updatePlan()') Actualizar
      //                                button.btn.btn-default(type='button', data-dismiss='modal', ng-click='cancelUpdate()') Cancelar
