//div(ng-include='"components/navbar/navbar.html"')
div(ng-switch='optionMenu')
  ul.nav.nav-tabs.nav-justified(role='tablist')
    li(ng-repeat='menu in menubar', ng-class='{active: checkValue(menu)}')
      a(ng-click='changeMenuOption(menu)') {{menu}}

  .container(ng-switch-when='Users')
    p
      | The delete user and user index api routes are restricted to users with the 'admin' role.


    style
      .custom-label{ font-size: 14px; padding-left: 5px; }
    .tagui-card-w220-h80-layout.highlight-parent(ng-repeat='user in users')
      .tagui-highlight-mouse-over-animated
        .float-right.icon-delete-30px.animated-opacity.pointer.custom-margin-icon-close(ng-click='delete(user)')
      .highlighted-container
        .left-header
          .tagui-vertical-align-container
            .tagui-valign-middle
              .tagui-small-person-pic-container
                .tagui-small-person-pic.icon-person
        .right-body
          .tagui-vertical-align-container
            .tagui-valign-middle.custom-label.tagui-font-semibold
              strong {{user.name}}
                br
                | {{user.email}}


  //ul.list-group(style='width: 400px;')
  //  li.list-group-item(ng-repeat='user in users')
  //
  //    strong {{user.name}}
  //    br
  //    span.text-muted {{user.email}}
  //    a.trash(ng-click='delete(user)')
  //      span.glyphicon.glyphicon-trash.pull-right
