//div(ng-include='"components/navbar/navbar.html"')
div(ng-switch='optionMenu')
  ul.nav.nav-tabs.nav-justified(role='tablist')
    li(ng-repeat='menu in menubar', ng-class='{active: checkValue(menu)}')
      a(ng-click='changeMenuOption(menu)') {{menu}}

  .container(ng-switch-when='Users', ng-controller='AdminUserCtrl')
    p
      | The delete user and user index api routes are restricted to users with the 'admin' role.


    style
      .custom-label{ font-size: 14px; padding-left: 5px; }
    .tagui-card-w220-h80-layout.highlight-parent(ng-repeat='user in users')
      .tagui-highlight-mouse-over-animated
        .float-right.icon-delete-30px.animated-opacity.pointer.custom-margin-icon-close(ng-click='delete(user)')
      .highlighted-container
        .left-header
          .tagui-vertical-align-container
            .tagui-valign-middle
              .tagui-small-person-pic-container
                .tagui-small-person-pic.icon-person
        .right-body
          .tagui-vertical-align-container
            .tagui-valign-middle.custom-label.tagui-font-semibold
              strong {{user.name}}
                br
                | {{user.email}}

  .container(ng-switch-when='Categories', ng-controller='CategoriesCtrl')
    style
      .custom-label{ font-size: 14px; text-align: left; padding-left: 5px; }
      .custom-add-container{ text-align: center; }
    .tagui-card-w220-h80-layout(ng-if='!isOpen', ng-click='createCategory()')
      .highligh-font-container-animated.pointer
        .left-header
          .tagui-vertical-align-container
            .tagui-valign-middle.tagui-font-ligth.custom-add-container(style='text-align: center')
              .icon-add-40px
        .right-body
          .tagui-vertical-align-container
            .tagui-valign-middle.custom-label.tagui-font-semibold
              | Agregar Categoria

    .tagui-card-w220-layout(ng-model='newCategory', ng-if='isOpen')
      .header
        | Formulario de creacion para Categoria {{newCategory.name}}
        .float-right.icon-close-25px.header-icon-margin.animated-opacity.pointer(ng-click='cancel()')
      .body
        input.form-control(type='text', placeholder='Ingresa el nombre', ng-model='newCategory.name')
        .tagui-form-spacer
        textarea.form-control(type='text', placeholder='Ingresa una descripcion', ng-model='newCategory.description', style='max-width: 180px')
        .tagui-form-spacer
        .tagui-form-spacer
        input.tagui-btn.btn(type='button', value='Guardar', ng-click='saveCategory(newCategory)')
        .tagui-form-spacer
        .tagui-form-spacer
        input.tagui-btn.btn(type='button', value='Cancelar', ng-click='cancel()')



    .tagui-card-w220-layout(style='width: 400px; height: auto;')
      .header
        | Categorias
      .body
        ul.list-group
          li.list-group-item(ng-repeat='category in categories', style='max-width: 300px')
            strong {{category.name}}
            br
            span.text-muted {{category.description}}
            br
            span {{registerDate(category.registerDate)}}
            a.trash(ng-click='delete(category)')
              span.glyphicon.glyphicon-trash.pull-right


  .container(ng-switch-when='Arrangements', ng-controller='ArrangementsCtrl')
    .tagui-card-w220-h80-layout(ng-if='!isOpen', ng-click='createArrangement()')
        .highligh-font-container-animated.pointer
            .left-header
                .tagui-vertical-align-container
                    .tagui-valign-middle.tagui-font-ligth.custom-add-container(style='text-align: center')
                        .icon-add-40px
            .right-body
                .tagui-vertical-align-container
                    .tagui-valign-middle.custom-label.tagui-font-semibold
                        | Agregar Plan

    .tagui-card-w220-layout(ng-model='newArrangement', ng-if='isOpen')
        .header
            | Formulario creacion de Plan {{newArrangement.name}}
            .float-right.icon-close-25px.header-icon-margin.animated-opacity.pointer(ng-click='cancel()')
        .body
            input.form-control(type='text', placeholder='Ingresa el nombre', ng-model='newArrangement.name')
            .tagui-form-spacer
            textarea.form-control(type='text', placeholder='Ingresa una descripcion', ng-model='newArrangement.info', style='max-width: 180px')
            .tagui-form-spacer
            .tagui-form-spacer
            input.tagui-btn.btn(type='button', value='Guardar', ng-click='saveArrangement(newArrangement)')
            .tagui-form-spacer
            .tagui-form-spacer
            input.tagui-btn.btn(type='button', value='Cancelar', ng-click='cancel()')



    .tagui-card-w220-layout(style='width: 400px; height: auto;')
        .header
            | Planes
        .body
            ul.list-group
                li.list-group-item(ng-repeat='arrangement in arrangements', style='max-width: 300px')
                    strong {{arrangement.name}}
                    br
                    span.text-muted {{arrangement.description}}
                    br
                    span {{registerDate(arrangement.registerDate)}}
                    a.trash(ng-click='delete(arrangement)')
                        span.glyphicon.glyphicon-trash.pull-right
