/* Import constants */
/* Default layout font/icons colors */
.tagui-color-a {
  color: #000 !important;
/* Black */
}
.tagui-color-b {
  color: #fff !important;
/* White */
}
.tagui-color-c {
  color: #444 !important;
/* Dark gray */
}
.tagui-color-d {
  color: #0082ff !important;
/* Light blue */
}
.tagui-color-e {
  color: #678 !important;
/* Cyan */
}
.tagui-color-f {
  color: #ccc !important;
/* Light gray */
}
.tagui-color-g {
  color: #6c6c6c !important;
/* Middle gray */
}
.tagui-color-h {
  color: #093 !important;
/* Green */
}
.tagui-color-i {
  color: #999 !important;
/* Middle gray 2 */
}
/* Default layout background colors */
.tagui-bg-color-a {
  background-color: #000 !important;
/* Black */
}
.tagui-bg-color-b {
  background-color: #fff !important;
/* White */
}
.tagui-bg-color-c {
  background-color: #444 !important;
/* Dark gray */
}
.tagui-bg-color-d {
  background-color: #0082ff !important;
/* Light blue */
}
.tagui-bg-color-e {
  background-color: #678 !important;
/* Cyan */
}
.tagui-bg-color-f {
  background-color: #ccc !important;
/* Light gray */
}
.tagui-bg-color-g {
  background-color: #6c6c6c !important;
/* Middle gray */
}
.tagui-bg-color-h {
  background-color: #093 !important;
/* Green */
}
.tagui-bg-color-i {
  background-color: #999 !important;
/* Middle gray 2 */
}
/* Default named font/icons colors */
.tagui-color-white {
  color: #fff !important;
}
.tagui-color-black {
  color: #444 !important;
}
.tagui-color-gray {
  color: #888 !important;
}
.tagui-color-red {
  color: #c33 !important;
}
.tagui-color-green {
  color: #396 !important;
}
.tagui-color-blue {
  color: #36c !important;
}
.tagui-color-yellow {
  color: #fb0 !important;
}
.tagui-color-brown {
  color: #963 !important;
}
.tagui-color-turquoise {
  color: #099 !important;
}
.tagui-color-violet {
  color: #93f !important;
}
.tagui-color-olive {
  color: #990 !important;
}
.tagui-color-orange {
  color: #f60 !important;
}
.tagui-color-magenta {
  color: #f39 !important;
}
.tagui-color-light-blue {
  color: #39c !important;
}
.tagui-color-gold {
  color: #e90 !important;
}
/* Default named background colors */
.tagui-bg-color-white {
  background-color: #fff !important;
}
.tagui-bg-color-black {
  background-color: #444 !important;
}
.tagui-bg-color-gray {
  background-color: #888 !important;
}
.tagui-bg-color-red {
  background-color: #c33 !important;
}
.tagui-bg-color-green {
  background-color: #396 !important;
}
.tagui-bg-color-blue {
  background-color: #36c !important;
}
.tagui-bg-color-yellow {
  background-color: #fb0 !important;
}
.tagui-bg-color-brown {
  background-color: #963 !important;
}
.tagui-bg-color-turquoise {
  background-color: #099 !important;
}
.tagui-bg-color-violet {
  background-color: #93f !important;
}
.tagui-bg-color-olive {
  background-color: #990 !important;
}
.tagui-bg-color-orange {
  background-color: #f60 !important;
}
.tagui-bg-color-magenta {
  background-color: #f39 !important;
}
.tagui-bg-color-light-blue {
  background-color: #39c !important;
}
.tagui-bg-color-gold {
  background-color: #e90 !important;
}
