//div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
//  div.container
//    div.navbar-header
//      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
//        span.sr-only Toggle navigation
//        span.icon-bar
//        span.icon-bar
//        span.icon-bar
//      a.navbar-brand(href='/') bagu
//
//    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
//      ul.nav.navbar-nav
//        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
//          a(ng-href='{{item.link}}') {{item.title}}
//
//        li(ng-show='isAdmin()', ng-class='{active: isActive("/admin")}')
//          a(href='/admin') Admin
//
//      ul.nav.navbar-nav.navbar-right
//        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
//          a(href='/signup') Sign up
//
//        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
//          a(href='/login') Login
//
//        li(ng-show='isLoggedIn()')
//          p.navbar-text Hello {{ getCurrentUser().name }}
//
//        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
//          a(href='/settings')
//            span.glyphicon.glyphicon-cog
//
//        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
//          a(href='', ng-click='logout()') Logout
.container.header-top(ng-controller='NavbarCtrl', style='height:96px !important')
  .header-nav.line-border
    .bagu-vertical-align-container
      .bagu-valign-middle.bagu-title
        | Tagui
  div.navbar.navbar-inverse.navbar-static-top(ng-controller='NavbarCtrl')
    div.container
      div.navbar-header
        button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') Tagui

      div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
        ul.nav.navbar-nav
          li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
            a(ng-href='{{item.link}}') {{item.title}}

          li(ng-show='isAdmin()', ng-class='{active: isActive("/admin")}')
            a(href='/admin') Admin
        form.navbar-form.navbar-left(role='search')
          //.form-group(style='width: 400px;')
          .form-group
            input.form-control(type='text', style='width: inherit;', placeholder='Search')
          button.btn.btn-default(type='submit') Buscar
        ul.nav.navbar-nav.navbar-right
          li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
            a(href='/signup') Registrate

          li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
            a(href='/login') Ingresa

          li(ng-show='isLoggedIn()')
            p.navbar-text Hola {{ getCurrentUser().name }}

          li.dropdown(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.glyphicon.glyphicon-user(ng-show='!isAdmin()', ng-class='{active: !isActive("/admin")}')
              span.glyphicon.glyphicon-cog(ng-show='isAdmin()', ng-class='{active: isActive("/admin")}')
            ul.dropdown-menu(role='menu')
              //li
              //  a(href='/settings') cambiar password
              li
                a(href='/profile') Perfil
              //li
              //  a(href='#') Something else here
              //li.divider
              //li
              //  a(href='#') Separated link
              //li.divider
              //li
              //  a(href='#') One more separated link

          //
          //li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
          //  a(href='/settings')
          //    span.glyphicon.glyphicon-cog

          li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
            a(href='', ng-click='logout()') Salir

  //nav.navbar.navbar-inverse(style='border-radius: 0px;', role='navigation')
  //  .container-fluid
  //    //
  //       Brand and toggle get grouped for better mobile display
  //    .navbar-header
  //      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
  //        span.sr-only Toggle navigation
  //        span.icon-bar
  //        span.icon-bar
  //        span.icon-bar
  //      a.navbar-brand(href='/') bagu
  //    //
  //       Collect the nav links, forms, and other content for toggling
  //    #bs-example-navbar-collapse-1.collapse.navbar-collapse
  //      ul.nav.navbar-nav
  //        li.active
  //          a(href='#') Link
  //        li
  //          a(href='#') Link
  //        li.dropdown
  //          a.dropdown-toggle(href='#', data-toggle='dropdown')
  //            | Dropdown
  //            span.caret
  //          ul.dropdown-menu(role='menu')
  //            li
  //              a(href='#') Action
  //            li
  //              a(href='#') Another action
  //            li
  //              a(href='#') Something else here
  //            li.divider
  //            li
  //              a(href='#') Separated link
  //            li.divider
  //            li
  //              a(href='#') One more separated link
  //      form.navbar-form.navbar-left(role='search')
  //        .form-group(style='width: 400px;')
  //          input.form-control(type='text', style='width: inherit;', placeholder='Search')
  //        button.btn.btn-default(type='submit') Submit
  //
  //    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
  //      ul.nav.navbar-nav
  //        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
  //          a(ng-href='{{item.link}}') {{item.title}}
  //
  //        li(ng-show='isAdmin()', ng-class='{active: isActive("/admin")}')
  //          a(href='/admin') Admin
  //      ul.nav.navbar-nav.navbar-right
  //        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
  //          a(href='/signup') Sign up
  //
  //        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
  //          a(href='/login') Login
  //
  //        li(ng-show='isLoggedIn()')
  //          p.navbar-text Hello {{ getCurrentUser().name }}
  //
  //        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
  //          a(href='/settings')
  //            span.glyphicon.glyphicon-cog
  //
  //        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
  //          a(href='', ng-click='logout()') Logout
      //
         /.navbar-collapse
    //
       /.container-fluid
  //
    <div class="header">
  //
    <div class="super-title">
  //
    <div class="title">jalasoft</div>
  //
    </div>
  //
    <div class="menu-options right-menu text-option-menu">Option1</div>
  //
    <div class="menu-options ">
  //
    <div class="search-menu">
  //
    <input class="text-field " type="text" />
  //
    <button class="search-button">Search</button>
  //
    </div>
  //
    </div>
  //
    </div>
