.header-nav
  &.line-border
    border-bottom solid
    border-bottom-width 1.5px
    border-bottom-color white
    background-color darkmagenta
  .bagu-title
    color white
    font-size xx-large
    font-family fantasy
    padding-left 20px