//div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
//  div.container
//    div.navbar-header
//      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
//        span.sr-only Toggle navigation
//        span.icon-bar
//        span.icon-bar
//        span.icon-bar
//      a.navbar-brand(href='/') bagu
//
//    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
//      ul.nav.navbar-nav
//        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
//          a(ng-href='{{item.link}}') {{item.title}}
//
//        li(ng-show='isAdmin()', ng-class='{active: isActive("/admin")}')
//          a(href='/admin') Admin
//
//      ul.nav.navbar-nav.navbar-right
//        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/signup")}')
//          a(href='/signup') Sign up
//
//        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("/login")}')
//          a(href='/login') Login
//
//        li(ng-show='isLoggedIn()')
//          p.navbar-text Hello {{ getCurrentUser().name }}
//
//        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
//          a(href='/settings')
//            span.glyphicon.glyphicon-cog
//
//        li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
//          a(href='', ng-click='logout()') Logout
.header-nav.line-border
.bagu-vertical-align-container
    .bagu-valign-middle.bagu-title
      | Bagu
.header
  .super-title
    .title jalasoft
  .menu-options.right-menu.text-option-menu(style='position: relative;')
    | Menu Option!
    div(style='width: 400px; height: 80px; border: #f00 1px dashed; position: absolute; top: 80px; left: -250px; background-color: #fff;')
      | Soy el formulario
      input(type='text')
      input(type='button', value='Ok')
  .menu-options.right-menu.text-option-menu Option1
  .menu-options
    .search-menu
      input.text-field(type='text')
      button.search-button Search