.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus
  border-radius: 0px
  color: black
  background-color #138b04
  border-bottom: solid
  border-bottom-width: 1px

.nav-pills
  a:hover
    background-color #138b04
    border-radius: 0px
    border-bottom-width: 1px
.nav-pills
  a
    border-radius: 0px !important
    color: black
    border-bottom: solid
    border-bottom-color: #138b04
    border-bottom-width: 1px
.nav-pills
  li.active
    background-color #138b04

.nav-pills
  a:focus
    background-color #138b04



